# Data, types, strings

Here we explore types of things, and converting between them.

In [ ]:
# Run this cell to set up the notebook, but please don't change it.
# These lines load the tests.
from client.api.notebook import Notebook
ok = Notebook('data_types.ok')

This is an integer (counting number):

In [ ]:
# Run this cell
a = 10

Use `type` to confirm that this is a value of `int` type:

In [ ]:
...

In [ ]:
_ = ok.grade('q_type_int')

This is a floating point number.

In [ ]:
b = 1.1

Use `type` to confirm that this is a value of `float` type:

In [ ]:
...

In [ ]:
_ = ok.grade('q_type_float')

This is a string:

In [ ]:
c = "some text"

Use `type` to confirm that this is a value of `str` type:

In [ ]:
...

In [ ]:
_ = ok.grade('q_type_string')

Show what you get when you use the 'float' function to convert the value in `a` into a float.

In [ ]:
...

What happens if you use `int` to convert `b` to an integer?

In [ ]:
...

What happens if you use `str` to convert `b` to an string?

In [ ]:
...

What happens if you use `float` to convert `c` into a floating point value?

In [ ]:
...

Now, if you have time - make new code cells below and try the following
operations.  To make a new cell, go to the "Insert" item on the menu, and
choose "Insert Cell Below" (or "Above").

Try these operations in a new cell each.   What do you see?

* `a + b`
* `a + c`
* `b + c`

Now try converting `a`, `b`, `c` to Boolean (True / False) values with the
`bool` function.

Try converting a Boolean value to `int`, `float` and `str`.